{% extends 'app/base.html' %}
{% load static %}
{% block title %}About-Us{% endblock title %}
{% block main-content %}
<center><h2><i>About us</i></h2>
    <p1>Dream Brics is a premium luxury and high end
        real estate agency that caters to the upper end of the residential
        and commercial sale and leasing market in Mumbai. Our approach
        is based on professionalism, trust and respect for the consumer.
        We have an able team of young and dynamic agents and professionals with a diverse set of experiences
        and skills in order to best leverage our position as a premium and respectable brand in the
        real estate consultancy space in India. The team is founded by Amit Sen & Atin Dasgupta,
        two highly experienced professionals from Related Industries. The company was formed in the
        year 2014 to cater to the growing need for quality educated professionals and to address
        the trust deficit and adequate due diligence gaps in the real estate agency space in India.
        We are proud to say that we have quickly climbed our way to the very top echelons of the
        luxury real estate market and aim to be the first truly respected global real estate advisory firm from India.</p1>

    <img src="{% static 'app/images/product/Capture.JPG'%}" alt="farming" height="800" width="800"></center>
<h1>Vision & Mission</h1>
<p2>Our vision is to become the first truly professional and branded real estate consultancy to emerge from India with global aspirations</p2>


<p3>Our Mission is to set global benchmarks and standards of excellence in the Indian Real Estate Consultancy Space.
Your Trusted Partner</p3>
{% endblock main-content %}